.App {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  height: 3rem;
  align-items: center;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.boldText {
  font-weight: 800;
}

.stock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table{
  width: 90%;
}
tr {
  border-bottom: 2px solid black;
}

